input{
  color: blueviolet;
  width: 100px;
  line-height: 100px;
  margin: 6px;
  text-align: center;
  border-radius: 8px;
  border: 1px dotted blueviolet;
  outline: none;
  font-size: 4rem;
}

.box{
  font-size: 3rem;
  display: flex;
  align-items: center;
}

button{
  font-size: 2rem;
  padding: 5px 15px;
  color: blueviolet;
}